/* スマホ向けレイアウト */
/* 題名 */
.iPhone-header {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.iPhone-header a {
    text-align: center;
    color: white;
    text-decoration: none;
    float: center;
    @import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
    font-family: 'Noto Serif JP', sans-serif;
}

/* メニューバー */
#hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: -37px 0px 0 8px;
 }
 #hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: translateY(-50%);
 }
 #hamburger::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
 }
 #hamburger::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
 } 

/* レスポンシブ */
@media (max-width: 599px) {
    .menu-hamburger {
        display: block;
        position: absolute;
        top: 100%;
        left: 5%;
        transform: translate(-50%, -50%);/* 要素のサイズがわからない場合につける*/
    }
    body {
      width: 100%px
    }
    header {
      width: 100%;
      height:45px;
    }
    .iPhone-header {
        display: block;
    }
    .main-header {
      width: 100%;
    }
    .menu-icon {
      display: block;
    }
    .header-logo {
      display: none;
    }
    .menu-icon { /* メニューバー */
        color: white;
        float: right;
        font-size: 25px;
        padding: 220px 0;
        display:none;
    }
    .line_btn3 {
        display: none;
    }
    .insta_btn3 {
        display: none;
    }
    .i {
        display: none;
    }
    .clothes-img {
        display: none;
    }
    .footer-list .btn-logo {
        display: none;
    }
    .fa-cart-shopping {
        display: none;
    }
    .fa-play {
        display: none;
    }
    .main-header h1 {
        font-size: 15px;
    }
    .main-header {
        height: 100px;
        padding: 50px 0 30px 0;
    }
    .main-title {
        max-width: 280px;
    }
    .main-title2 {
        max-width: 280px;
    }
    .login-logo {
        font-size: 15px;
        padding: 7px 15px;
        top: 9px; /*下に移動させる*/
    }
    .sign-in {
        font-size: 10px;
        top: 10px; /*下に移動させる*/
    }

}
