/* タブレット向けレイアウト */
@media (max-width: 1024px) {
  }
  
/* スマホ向けレイアウト */
@media (max-width: 599px) {
  header {
    width: 100%;
  }
  .fa-cart-shopping {
    width: 100%;
    padding: 0 42px;
    position: relative;
  }
  .main-header {
    width: 170%;
  }
  }
